/* You can add global styles to this file, and also import other style files */
* {
  color: red;
}

body {
  background: #0a0a0a;
}

.hoverwell:hover {
  /* background-color: #485563; */
  cursor: pointer;
}

.container {
  padding-top: 10px;
}

.pointable {
  cursor: pointer;
}

button {
  color: #555;
}

[hidden] {
  display: none !important;
}

.toast-success {
  background-color: #51a351;
}
.toast-error {
  background-color: #bd362f;
}
.toast-info {
  background-color: #2f96b4;
}
.toast-warning {
  background-color: #f89406;
}
.card {
  background: transparent;
  border: 1px solid red;
}

.card-title,
.card-text {
  color: #fefefe;
}

.card-buttons {
  display: flex;
  justify-content: space-between;
}
